@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "../styles/index.css";

@layer base {
    :root {
        --leftbar-width: 240px;
        --b2: 93.2587% 0.005189 247.879694;
        --tw-border-opacity: 1;
        --leftmenu-background: #fff;
    }

    html {
        font-family: var(--font-yekanbakh);
    }

    *:lang(en) {
        font-family: var(--font-figtree);
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    /* Revert text color */
    transition: background-color 5000s ease-in-out 0s;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
