@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "../styles/index.css";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */
/* @import "daisyui"; */ /* @import "../styles/index.css"; */
@layer base {
    :root {
        --leftbar-width: 240px;
        --b2: 93.2587% 0.005189 247.879694;
        --tw-border-opacity: 1;
        --leftmenu-background: #fff;
    }

    html {
        font-family: var(--font-yekanbakh);
    }

    *:lang(en) {
        font-family: var(--font-figtree);
    }
}
